@{
    ViewData["Title"] = "Time Tracker";
}

<div class="text-center">
    <h1 class="display-4" style="margin-bottom: 2rem;">Concurrency Error!</h1>

    <h3 style="margin-bottom: 1rem;">Couldn't save changes. Try again.</h3>

    <div class="container">
        <a asp-area="" asp-controller="Activity" asp-action="Index">Back home</a>
    </div>

</div>