@{
    ViewData["Title"] = "Time Tracker - Set Accepted Time";
}

<div class="container">
    <h4>Set Accepted Time</h4>
    <div class="constainer">
        <form asp-action="SetAcceptedTime">
            <div class="form-group">
                <label for="AcceptedTime">Time</label>
                <input type="number" name="AcceptedTime" class="form-control" />
            </div>
            <div class="form-group">
                <input type="submit" value="Set" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>